<!-- wp:template-part {"slug":"theme-header","tagName":"header","className":"site-header is-style-bootslightning-sticky"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull p-0 m-0" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<!-- wp:post-content {"align":"full","layout":{"inherit":true}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"theme-footer","tagName":"footer"} /-->
